* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


nav {
  display: flex;
  margin-left: 50px;
  gap: 803px;
}

.nav-menu {
  display: flex;
}

.nav-text {
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
}

header {
  background-color: rgba(243, 215, 183, 1);
  padding-top: 23px;
  padding-left: 46px;
  height: 720px;
}

.header-text {
  width: 390px;
  height: 150px;
  font-size: 64px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 130px;
  justify-content: left;
}

.header-box {
  display: flex;
}

.header-text1 {
  width: 464px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 50px;
}

.img1 {
  position: absolute;
  margin-top: 70px;
  margin-left: 145px;
}

.img2 {
  width: 660px;
  height: 390px;
  justify-content: right;
  margin-top: 135px;
  margin-left: 220px;
}

section {
  height: 640px;
}

.box-coffee {
  margin-left: 160px;
  margin-top: 240px;
  display: flex;
}

.box-text {
  font-size: 48px;
  font-weight: 400;
  margin-left: 322px;
}

.box-text1 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 65px;
  margin-left: 322px;
  width: 454px;
}

.section-box {
  height: 510px;
  background-color: rgba(201, 155, 103, 1);
  padding-top: 109px;
  padding-left: 50px;
  color: white;
}

.section-text {
  width: 397px;
  font-size: 50px;
  font-weight: 700;
}


.section-text1 {
  width: 639px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 28px;
}


.image {
  width: 566px;
  height: 552px;
  position: absolute;
  margin-top: 450px;
  margin-left: 700px;
}


footer {
  display: flex;
  gap: 300px;
  height: 160px;
  line-height: 160px;
  padding-left: 42px;
  padding-top: px;
  box-sizing: border-box;
  background-color: rgba(243, 215, 183, 1);
}
.footer-imgs {
  display: flex;
  gap: 30px;
  margin-top: 65px;
}


.footer-img {
    margin-top: 65px;
}


a{
      text-decoration: none;
      color:black;
}

.rotate-img {
  transition: transform 2s;
}


.rotate-img:hover {
  transform: rotateZ(360deg);
}